@import "./login.css";


.jsGrid-table {
  margin: 50px auto;
}
.hide {
  display:none;
}
.error {
  color: red;
  text-align: center;
  margin-top: 50px;
}
#message,
.message {
  margin-top: 15px;
}
/*Employee form*/
.employee-form {
  margin: 20px auto 20px auto;
  width: 75%;
  padding-bottom: 50px;
}
.form-row,
.buttons-container {
  margin-top: 21px;
  margin-bottom: 21px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}